<div class="container content">
  <div class="row">
    <div class="span8 leftContent">
      <h2>How to Give Service?</h2>
      <div class="row">
        <div class="span8">
          <p class="cntPara simpleDesign">
            <strong class="lead">Register</strong> Nullam quis risus eget urna <a href="#">mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p> 
        </div>
        <div class="span8">
          <p class="cntPara simpleDesign">
            <strong class="lead">Add Skills</strong> Nullam quis risus eget urna <a href="#">mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p> 
        </div>
        <div class="span8">
          <p class="cntPara easyUse">
            <strong class="lead">Search</strong> Nullam quis risus eget urna <a href="#">mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p> 
        </div>                                        
      </div>
      <h2>Have a service opportunity?</h2>
      <div class="row">
        <div class="span8">
          <p class="cntPara simpleDesign">
            <strong class="lead">Register</strong> Nullam quis risus eget urna <a href="#">mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p> 
        </div>
        <div class="span8">
          <p class="cntPara simpleDesign">
            <strong class="lead">Add Skills needed</strong> Nullam quis risus eget urna <a href="#">mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p> 
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="span8">
          <h3 class="signupTeaser"><a href="#">Don't miss out, create account today!</a></h3>
        </div>                                        
      </div>
      <hr/>
      <div class="row">
        <div class="span8">
          <h3 class="quickTour"></h3>
          <ul class="thumbnails">
            <li class="span2">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/160x120" alt="">
              </a>
            </li>
            <li class="span2">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/160x120" alt="">
              </a>
            </li>
            <li class="span2">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/160x120" alt="">
              </a>
            </li>
            <li class="span2">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/160x120" alt="">
              </a>
            </li>
          </ul>
        </div>                                        
      </div>
    </div>
   <%= render "layouts/side_bar" %> 
  </div>
  <%= render "layouts/footer" %> 
</div>
