<div class="footer">
  <div class="row">
    <div class="span12">
      <p class="pull-left">&copy; <%= Date.today.year %> - Giveservice.org, All rights reserved.</p>
      <p class="pull-right"><a href="#">Terms of Use</a> &nbsp;|&nbsp; <a href="#">Privacy Policy</a></p>
    </div>
  </div>
</div>
