<form action="/users" method="post" class="well quickSignupForm">
  <h3>Quick Sign-up</h3>
  <label>Email</label>
  <input type="text" name="user[email]" class="span3" placeholder="">
  <label>Password</label>
  <input type="password" name="user[password]" class="span3" placeholder="">
  <label>Password Confirmation</label>
  <input type="password" name="user[password_confirmation]" class="span3" placeholder="">
  <button class="btn btn-large btn-success btnSignup">&nbsp;&nbsp; Sign up &nbsp;&nbsp;</button>
</form>
